*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.container{
  height: 70vh;
  width: 40vw;
  /* background-color: black; */
  display: grid;
  grid-template: repeat(3,1fr)/repeat(3,1fr);
  /* font-size: 5rem; */
}
.square{
  /* background-color: black; */
  border: 1px solid green;
  font-size: 5rem;
}
.secondContainer{
  display: flex;
  justify-content: space-between;
}
